* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
   font-family: 'Poppins', 'Arial', sans-serif;
  }

.App{
  max-width: 100%;
  margin: auto;
  height: 90vh;
  background-color: #1E1E1E;
}

/* General Section Styling */
section {
  padding: 60px 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* gap: 200px; */
  align-items: center;
}

/* Header */
header {
  background: #1A1A2E; 
  /* color: white; */
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  /* display: flex; */
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 ;
  gap: 850px;
  max-width: 1200px;
  padding: 0 15px;
}

header h1{
  font-size: 24px;
  color: #FF2E63;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-family: 'Great Vibes', cursive;
}

.hamburger {
  background: none ;
  border: none;
  cursor: pointer;
  display: none;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  color: white;
}

.hamburger-image {
  width: 24px;
  height: 24px;
  color: white;
  transition: transform 0.3s ease;
}

.hamburger:hover .hamburger-image {
  transform: scale(1.1);
}

.hamburger .menu-text{
  font-size: 16px;
  color: white;
  display: none;
}

.hamburger.open .menu-text{
  display: none;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;

}

.nav-links a:hover {
  color: #FF2E63;
}
/* nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
} */


/* About */
.flex {
 display: flex;
 justify-content: space-between;
 gap: 70px;
 padding-top: 20px;
 /* align-items: center; */
 /* text-align: center; */
  
}
.about{
  height: auto;
  background-color: #1e1430;
  text-align: center;
  padding: 20px;
  padding-top: 80px;
  border: none;
  /* border: 1px solid red; */
}

@media (max-width: 480px){

  .flex{
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    /* padding: 10px 10px; */
    margin-right: 15px;
    margin-bottom: 50px;
    text-align: center;
    align-items: center;
    
  }
  .flex h1{
    font-size: 18px;
  }

  .about .flex img{
    border-radius: none;
    width: 200px;
    height: 260px;
    
  }

}
.flex h1{
  padding: 40pt;
  color: #FF2E63;
  font-size: 1.5rem;
}
.flex h3{
  color: #f8f8f8;
  font-size: 1rem;
  font-weight: 400;
}


.flex2 p{
  border-radius: 20px;
  padding: 20px;
}

.about h2{
  padding-top: 50px;
  text-shadow: none;
  text-align: center;
  text-decoration: underline;
  color: #FF2E63;
  font-size: 2.5rem;
  
}
.about p{
  font-size: 20px;
  color: #ccc;
}

.about img {
  border-radius: 60px;
  width: 340px;
  height: 420px;
  margin-top: 20px;
  object-fit: cover;
  padding-top: 15px;

}



/* Skills */
.skills {
  background-color: black; /* Inspired by the pink background */
  margin-top: -18px;
  padding: 40px 20px;
  text-align: center;
  /* border: 1px solid red; */
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1000px;
}
.skills h2{
  color: #FF2E63;
  padding-bottom:20px;
  font-size: 2.5rem;
  text-decoration: underline;
}

.skill-card {
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.react-icon{
  width: 40px;
  height: 40px;
  color: #61dafb;
  transition: transform 0.3s ease;
}

.js-icon{
  width: 40px;
  height: 40px;
  color: #F7DF1E;
  transition: transform 0.3s ease;
}

.css-icon{
  width: 40px;
  height: 40px;
  color: #1572B6;
  transition: transform 0.3s ease;
}

.html-icon{
  width: 40px;
  height: 40px;
  color: #E34F26;
  transition: transform 0.3s ease;
}

.django-icon{
  width: 40px;
  height: 40px;
  color: #092E20;
  transition: transform 0.3s ease;
}
.py-icon{
  color: #3776ab;
  background: linear-gradient(45deg, #3776AB, #FFD43B);
  /* -webkit-background-clip: text; */
  -webkit-text-fill-color: transparent ;
  display: inline-block;
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
}
@supports not (-webkit-background-clip: text){
  .py-icon{
    color: #3776ab;
  }

}
.mysql-icon{
  width: 40px;
  height: 40px;
  color: #4479A1;
  transition: transform 0.3s ease;
}

.skill-card:hover .skill-icon {
  transform: scale(1.1);
}


/* Projects */
.projects-section {
  padding: 2rem;
  /* margin-top: 1rem; */
  /* margin-bottom: 2rem; */
  background: #1e1430;
  color: white;
  text-align: center;
}

.projects-title {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  color: #FF2E63;
  text-decoration: underline;
}

.projects-grid {
display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-items: center;
}

.projects-item {
  background-color: #1e1430;
  padding: 1rem;
  border-radius: 12px;
  border: 0.5px solid wheat;
  width: 90%;
  max-width: 300px;
  box-shadow: 0 4px 8px #1e1430;
  transition: transform 0.3s ease;
}

.projects-item:hover {
  transform: translateY(-5px);
}

.projects-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.project-name {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  margin: 0.8rem 0 0.5rem;
}

.project-stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.tech-badge {
  background: #5a42c3;
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  font-size: 0.75rem;
  font-weight: 500;
}

.project-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.project-btn {
  background: #5a42c3;
  color: white;
  padding: 0.4rem 0.9rem;
  border-radius: 6px;
  font-weight: 600;
  text-decoration: none;
  transition: background 0.3s ease;
}

.project-btn:hover {
  background:  #FF2E63;
}

/* For tablets and below (760px) */
@media screen and (max-width: 760px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  
  }

  .projects-title {
    font-size: 2rem;
  }
}

/* For mobile (480px and below) */
@media screen and (max-width: 480px) {
  .projects-grid {
    /* grid-template-columns: 1fr;
    gap: 1rem; */
    flex-direction: column;
  }
  .projects-section{
    padding:  1.5rem 1rem;
    /* margin-top: 2.5rem; */
    /* margin-bottom: 5rem; */

  }
  section{
    /* margin: 2rem 0; */
    padding: 1rem;
  }

  .projects-item {
    width: 100%;
    margin-bottom: 2rem;
    
  }

  .projects-title {
    font-size: 1.8rem;
  }

  .project-buttons {
    flex-direction: column;
    gap: 0.5rem;
  }

  .project-btn {
    width: 100%;
  }
}

/* Contact */
.contact {
  background-color: #1e1430;
  margin-top: -20px;
  margin-bottom: -18px;
  padding-top: -70px;
  /* border: 1px solid red; */
}

.contact form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  gap: 10px;
}

.contact input,
.contact textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
  background-color: #1e1430;
  padding-top: 20px;
  color: white;
}
.contact h2{
  color: #FF2E63;
  padding-bottom: 40px;
  font-size: 2.5rem;
  text-decoration: underline;
  
}

.contact button {
  padding: 10px;
  background-color: #1e1430;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact button:hover {
  background-color: #FF2E63;
}

.social-links {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.social-links img, .social-icon svg{
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.social-icons :hover, .social-icon:hover svg{
  transform: scale(1.2)
}
.email-link {
  margin-top: 20px;
  text-align: center;
}

.email-link p {
  font-size: 16px;
  color: #fff;
}

.email-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #FF2E63;
  font-size: 18px;
  text-decoration: none;
}
.email-icon img{
  width: 24px;
  height: 24px;
}


.email-icon:hover {
  color: #facc15;
  text-decoration: underline;
}

/* Resume */
.resume-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #1e1430;
  /* margin-top: 0; */
}

.resume-section h1{
  color: #FF2E63;
  font-size: 2.5rem;
  text-decoration: underline;
}

/* Styles for the download link */
.resume-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff; 
  color: #1e1430;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

.resume-link:hover {
  background-color: #0056b3; 
}

@media (max-width: 768px) {
  .resume-container {
    padding: 10px; 
  }

  .resume-link {
    padding: 15px 30px; 
    font-size: 18px; 
  }
}


/* Responsiveness */

@media (max-width: 768px) {
  section {
    padding: 40px 15px;
  }
}


/* Footer */
footer {
  background-color: #1A1A2E;
  color: wheat;
  text-align: center;
  padding: 20px;
  margin-top: -20px;
  height:50px;
  margin-bottom: -20px;
}


.icon{
  display: none;
}
/* Responsiveness */
@media (max-width: 768px) {
  section {
    padding: 40px 15px;
  }

  nav a {
    margin: 0 10px;
    font-size: 14px;
  }

  .about img {
    width: 200x;
    height: 330px;
  }

  .skills-grid {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
  .header-content {
    padding: 0 10px;
  }
}

@media (max-width: 480px) {
  header {
    padding: 15px;
  }

  .header-content {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
  header h1 {
    font-size: 20px;
  }
  .hamburger {
    display: flex;
  }

  .hamburger .menu-text{
    display: inline;
  }
  
  .hamburger-image {
    width: 24px;
    height: 24px;
  }

  .hamburger-image.close-icon{
    width: 22px;
    height: 22px;

  }

  .hamburger .menu-text{
    font-size: 14px;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 50px;
    /* bottom: 10px; */
    left: 0;
    background-color: #1A1A2E;
    padding: 10px 0;
  }

  .nav-links.open {
    display: flex;
  }
  .nav-links a {
    padding: 10px;
    /* padding-left: 300px; */
    margin: 0;
    font-size: 16px;
    text-align: center;
  }
  .nav-links a:hover {
    text-decoration: none;
    background-color: #FF2E63;
    color: white;
  }

  /* nav a {
    font-size: 12px;
  } */

  /* .about img {
    width: 100px;
    height: 100px;
  } */

  .contact form {
    width: 90%;
  }

  .social-links {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .social-icon img,
  .social-icon svg {
    width: 20px;
    height: 20px;
  }

  .email-link p {
    font-size: 14px;
  }

  .email-icon {
    font-size: 16px;
  }
  footer{
    padding: 10px;
    font-size: 12px;
  }
}


